html,body{
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.wrapper{
    display: flex;
    height: 100%;
    width: 100%;
}
.inputs{
    width: 30%;
    background-color: cadetblue;
    overflow-y: scroll;
    scrollbar-width: none;
}
.graph{
    flex-grow: 1;
    background-color: darkslateblue;
}